/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
.lh/
.aider*
.env
.idea
/priv/static/*
/priv/static/assets/*
!priv/static/.keep
/priv/resource_snapshots
node_modules
.DS_Store