/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
# Add personal database configuration
/config/dev.exs
.elixir_ls/
.lh/
.aider*
.env
.idea
/priv/static/*
!priv/static/.keep
node_modules
# Ignore Livebook temporary changes
live_books/*.autosave.livemd